body {
    font-family: Poppins !important;
    font-weight: regular !important;
}

.nav-link{

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;


    color:#0FAE4E;
}
